<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Блог Волошина</title>
</head>
<body>
<div>
            <h1><a href="/">Блог Волошина</a></h1>
        </div>

        <div>
            <p>published: 21.03.2019, 00:05</p>
            <h2><a href="">Мой первый пост</a></h2>
            <p>Всем Привет! Рад знакомству со всеми.</p>
        </div>

        <div>
            <p>published: 21.03.2019, 00:07</p>
            <h2><a href="">Мой второй пост</a></h2>
            <p>А какие темы вы хотели бы поднять?</p>
        </div>
</body>
</html>